/* COLORS */
:root {
	--bug: #729f3f;
	--dragon: #53a4cf;
	--dragon-gradient: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--fairy: #fdb9e9;
	--fire: #fd7d24;
	--ghost: #7b62a3;
	--ground: #f7de3f;
	--ground-gradient: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
	--normal: #a4acaf;
	--psychic: #f366b9;
	--steel: #9eb7b8;
	--dark: #707070;
	--electric: #eed535;
	--fighting: #d56723;
	--flying: #3dc7ef;
	--flying-gradient: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
	--grass: #9bcc50;
	--ice: #51c4e7;
	--poison: #b97fc9;
	--rock: #a38c21;
	--water: #4592c4;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
	background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
	font-family: 'Poppins', sans-serif;
}

nav {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

nav .navbar-space {
	margin: 0 20px;
}

nav .catching-container {
	width: 60px;
	display: flex;
	align-items: center;
	color: white;
	justify-content: center;
	cursor: pointer;
	font-size: 30px;
	transition: all ease-in 0.2s;
}
nav .catching-img {
	width: 50px;
	padding-right: 10px;
	transition: all ease-in 0.2s;
	transition: filter none 0;
}
nav .catching-container p {
	margin: 0;
}

nav .catching-container:hover {
	font-size: 35px;
}

nav .catching-container:hover .catching-img {
	width: 55px;
}

nav .catching-container:active .catching-img {
	filter: drop-shadow(1.5px 3px 0 #888);
}

.App {
	font-family: sans-serif;
}

.navbar-image {
	width: 300px;
	filter: drop-shadow(0 0 5px #000);
}

.searchbar-container {
	display: flex;
	margin: 0px auto;
	justify-content: center;
	align-items: center;
}

.searchbar {
	margin-right: 0px;
}

.searchbar input {
	padding: 10px;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-weight: bold;
	color: #444;
	border: 5px solid #feca1b;
	border-radius: 10px 0 0 10px;
	max-width: 400px;
	text-align: center;
	transition: border-color 0.35s ease-in-out, box-shadow 0.15s ease-in-out;
}

.searchbar input:focus {
	outline: none;
	border-color: #3760a3;
}

.searchbar-btn button {
	width: 140px;
	background-color: #000;
	font-size: 20px;
	color: #feca1b;
	font-weight: bold;
	border: none;
	border-radius: 0 10px 10px 0;
	height: 100%;
	padding: 15px 12px;
	transition: all 0.5s;
	transition: color 0s;
	cursor: pointer;
}

/* BUTTON EFFECTS */

.searchbar-btn button:focus {
	outline: none;
}

.searchbar-btn button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.searchbar-btn button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.searchbar-btn button:hover span {
	padding-right: 25px;
}

.searchbar-btn button:hover span:after {
	opacity: 1;
	right: 0;
}

.searchbar-btn button:active span {
	padding-right: 0px;
}
.searchbar-btn button:active span:after {
	opacity: 0;
	right: -20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.pagination-text {
	font-weight: bold;
	padding: 0 10px;
	font-size: 25px;
	color: #fff;
	filter: drop-shadow(0 2px 0 #3760a3);
}

.pagination-text .yellow {
	color: #feca1b;
}

.pagination button {
	background-color: #000;
	vertical-align: center;
	padding-bottom: 6px;
	border-color: #feca1b;
	outline: none;
}

.pagination button:active {
	border-color: #3760a3;
}

.pokedex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 10px;
}

.pokemon-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 250px;
	height: 340px;
	margin: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 10px;
	border: solid 1px #000;
}

.pokemon-card:hover {
	cursor: url('https://cdn.custom-cursor.com/db/249/32/arrow2282.png'), auto;
	border-width: 2px;
}
.pokemon-card:active {
	cursor: url('https://cdn.custom-cursor.com/db/250/32/arrow2282.png'), auto;
}

.pokemon-card h3 {
	text-transform: capitalize;
	margin: 0;
}

.pokemon-img-container {
	height: 135px;
	width: 135px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
}

.pokemon-img {
	height: 150px;
	width: auto;
}

.pokemon-types {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemon-types-text {
	padding: 3px 7px;
	margin: 0 3px;
	border: solid 1px black;
	border-radius: 5px;
	text-transform: capitalize;
}

.bug {
	color: #fff;
	background-color: var(--bug);
}
.dragon {
	color: #fff;
	background-color: var(--dragon);
	background: var(--dragon-gradient);
}
.fairy {
	background-color: var(--fairy);
}
.fire {
	color: #fff;
	background-color: var(--fire);
}
.ghost {
	color: #fff;
	background-color: var(--ghost);
}
.ground {
	background-color: var(--ground);
	background: var(--ground-gradient);
}
.normal {
	background-color: var(--normal);
}
.psychic {
	color: #fff;
	background-color: var(--psychic);
}
.steel {
	background-color: var(--steel);
}
.dark {
	color: #fff;
	background-color: var(--dark);
}
.electric {
	background-color: var(--electric);
}
.fighting {
	color: #fff;
	background-color: var(--fighting);
}
.flying {
	background-color: var(--flying);
	background: var(--flying-gradient);
}
.grass {
	background-color: var(--grass);
}
.ice {
	background-color: var(--ice);
}
.poison {
	color: #fff;
	background-color: var(--poison);
}
.rock {
	color: #fff;
	background-color: var(--rock);
}
.water {
	color: #fff;
	background-color: var(--water);
}

.pokemon-caught img {
	width: 40px;
	height: 40px;
}

.card-id {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	border-radius: 20px;
	margin: 10px auto;
	background-color: rgba(0, 0, 0, 0.3);
	width: 40%;
	text-shadow: 2px 2px 2px #1b1b1b56;
}

.card-name {
	font-size: 25px;
}

.loader-container {
	min-height: 100vh;
}
/* Loader */
.loader,
.loader:before,
.loader:after {
	background: #feca1b;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #feca1b;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.not-found-text {
	text-align: center;
	font-size: 1.75rem;
	padding: 40px;
	font-weight: bold;
	color: white;
}

@media (max-width: 550px) {
	.navbar-image {
		width: 200px;
	}

	.searchbar input {
		width: 200px;
	}
}

@media (max-width: 400px) {
	.searchbar input {
		width: 150px;
		font-size: 15px;
	}
}
